/CallDllProject/CallDllProject/.vs
/CallDllProject/CallDllProject/Debug
/CallDllProject/CallDllProject/Release
/CallDllProject/CallDllProject/CallDllProject/Debug
/CallDllProject/CallDllProject/CallDllProject/Release

/DllA/DllA/.vs
/DllA/DllA/Debug
/DllA/DllA/Release
/DllA/DllA/DllA/Debug
/DllA/DllA/DllA/Release

/DllB/DllB/.vs
/DllB/DllB/Debug
/DllB/DllB/Release
/DllB/DllB/DllB/Debug
/DllB/DllB/DllB/Release